{% extends 'base.html.twig' %}

{% block title %}Edit CriteriaUser{% endblock %}

{% block body %}
    <h1>Edit CriteriaUser</h1>

    {{ include('criteria_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('criteria_user_index') }}">back to list</a>

    {{ include('criteria_user/_delete_form.html.twig') }}
{% endblock %}
