<div class="col-md-12 mt-2 p-0">
    <div class="text-center p-2">
        <p class="card-title-sidebar">EXPERT IMMOBILIER RHÔNE-ALPES</p>
    </div>
    <div>
        <img src="{{ asset('/media/image/rhone_alpes_footer.png') }}" alt="">
    </div>
    <ul class="listMarginTop">
        <li>
            <div class="row">
                <div class="col-xs-12">
                    <h5 class="colorTitle">ANNECY</h5>
                    <h5 class="colorNumber">04 50 10 27 15</h5>
                    <i>
                        <a href="">54 rue Sommeiller</a>
                    </i>
                    <a href="mailto:annecy@cabinet-hermes.fr">annecy@cabinet-hermes.fr</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row mt-3">
                <div class="col-xs-12">
                    <h5 class="colorTitle">LYON</h5>
                    <h5 class="colorNumber">04 78 42 40 80</h5>
                    <i>
                        <a href="">2 place Gailleton</a>
                    </i>
                    <a href="mailto:annecy@cabinet-hermes.fr">contact@cabinet-hermes.fr</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row mt-3">
                <div class="col-xs-12">
                    <h5 class="colorTitle">Grenoble</h5>
                    <h5 class="colorNumber">04 76 03 32 32</h5>
                    <i>
                        <a href="">6 rue Lesdiguières </a>
                    </i>
                    <a href="mailto:annecy@cabinet-hermes.fr">grenoble@cabinet-hermes.fr</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row mt-3">
                <div class="col-xs-12">
                    <h5 class="colorTitle">CLERMONT-FERRAND</h5>
                    <h5 class="colorNumber">04 73 84 12 06</h5>
                    <i>
                        <a href="">Cournon-d'auvergne</a>
                    </i>
                    <a href="mailto:annecy@cabinet-hermes.fr">clermont@cabinet-hermes.fr</a>
                </div>
            </div>
        </li>
    </ul>
</div>
