.home{
    background-image: url("../../assets/image/bandeau-histoire-1920px.jpg");
    background-size: cover;
    min-height: 445px;
    color: white;
}

.prixAnnonce{
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: #868686;
}

.place{
    font-size: 12px;
    font-weight: bold;
}
img {
    width: 100%;
    height: 200px;
}
.card-title{
    background-color: #868686;
}
.annonceCardHome{
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin: 2px 10px;
}

.card-text{
    font-size: 12px;
    font-weight: bold;
    color: #868686;
}
.empty{
    border-bottom: 1px solid black;
}

hr{
    background-color: white;
    height: 100px;
    width: 2px;
    margin-top: auto;
}

.biens_a_la_une, .dernier_bien_ajoute{
    background-image: url("../../assets/image/Title-background-1920x600-News.jpg");
    background-size: cover;
    min-height: 600px;
    color: #868686;
}

.backgroundSidebare{
    background-color: #868686;
    color: white;
}
.listMarginTop{
    margin-top: 40px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
}
.colorTitle{
    color: yellow;
    font-size: 15px;
}

.colorNumber{
    font-size: 15px;
    color: white;
}
.button-vendre{
    background-color: yellow;
    border: 1px solid black;
}