.prixAnnonce{
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: #868686;
}

.title{
    color: #fed200;
}

/**
Début Button navbar searchBiensByTypeTransac
 */
.purple{
    background-color: #8c6fb4;
    color: white;
    transition-duration: 0.4s;
}
.purple:hover{
    background-color: white;
    color: #8c6fb4;
    border: 2px solid #8c6fb4;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.green{
     background-color: #6eae66;
     color: white;
    transition-duration: 0.4s
}
.green:hover{
    background-color: white;
    color: #6eae66;
    border: 2px solid #6eae66;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.blue{
    background-color: #6099c8;
    color: white;
    transition-duration: 0.4s
}
.blue:hover{
    background-color: white;
    color: #6099c8;
    border: 2px solid #6099c8;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.orange{
    background-color: #f78a2a;
    color: white;
    transition-duration: 0.4s
}
.orange:Hover{
    background-color: white;
    color: #f78a2a;
    border: 2px solid #f78a2a;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/**
Fin navbar searchBiensByTypeTransac
 */

/**
debut sidebar
 */

/**
fin sidebar
 */
.place{
    font-size: 12px;
    font-weight: bold;
}
img {
    width: 100%;
    height: 200px;
}
.card-title{
    background-color: #fed200;
    color: black;
    height: 40px;
}
.card-title-green{
    background-color: #6eae66;
    color: black;
    height: 40px;
}
.card-title-purple{
    background-color: #8c6fb4;
    color: black;
    height: 40px;
}
.card-title-blue{
    background-color: #6099c8;
    color: black;
    height: 40px;
}
.card-title-orange{
    background-color: #f78a2a;
    color: black;
    height: 40px;
}
.annonceCardHome{
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin: 2px 10px;
}

.card-text{
    font-size: 15px;
    font-weight: bold;
    color: #868686;
}
.empty{
    border-bottom: 1px solid black;
}

hr{
    background-color: white;
    height: 100px;
    width: 2px;
    margin-top: auto;
}

.backgroundSidebare{
    background-color: #868686;
    color: white;
}
.listMarginTop{
    margin-top: 40px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
}
.colorTitle{
    color: yellow;
    font-size: 15px;
}

.colorNumber{
    font-size: 15px;
    color: white;
}
.button-vendre{
    background-color: yellow;
    border: 1px solid black;
}

.borderLeft{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 20px;
    padding: 10px;
    border-left: 4px solid #494949;
    background-color: #e6edf7;
    border-radius: 10px;
}

.borderBottom{
    margin-top: 15px;
    border-bottom: 4px solid #494949;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: none;
}

.borderLeftNego{
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
    border-left: 4px solid #494949;
    background-color: #e6edf7;
    border-radius: 10px;
    font-size: 15px;
}

.product-slider #carousel {
    margin: 0;
}

.product-slider #thumbcarousel {
    margin: 12px 0 0;
    padding: 0 45px;
}

.product-slider #thumbcarousel .item {
    text-align: center;
}

.product-slider #thumbcarousel .item .thumb {
    border: 4px solid #cecece;
    width: 20%;
    max-height: 68px;
    margin: 0 2%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    max-width: 98px;
}

.product-slider #thumbcarousel .item .thumb:hover {
    border-color: #1089c0;
}

.product-slider .item img {
    width: 100%;
    height: auto;
}

.carousel-control {
    color: #0284b8;
    text-align: center;
    text-shadow: none;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 20px;
    top: 23%;
}

.carousel-control:hover, .carousel-control:focus, .carousel-control:active {
    color: #333;
}

.carousel-caption, .carousel-control .fa {
    font: normal normal normal 30px/26px FontAwesome;
}
.carousel-control {
    background-color: rgba(0, 0, 0, 0);
    bottom: auto;
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 30%;
    width: auto; }

.carousel-control.right, .carousel-control.left {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
}


/***************************/
/*                         */
/*   ActualityController   */
/*                         */
/***************************/

section {
    margin-top: 50px;
}

