{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        {{ bien.titreannonce }}
        {{ bien.annonce }}
    </div>
{% endblock %}



