{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- début header -->
    <div class="jumbotron home">
        <div class="text-center">
            <h2 class="pt-4 title">CABINET HERMES</h2>
            <p class="para-title">Expert immobilier d'entreprise en Auvergne-Rhône-Alpes,
                le Cabinet Hermès vous accompagne dans l'achat et la vente de fonds de commerce ou d’investissement immobilier.
            </p>
        </div>
    </div>
    <div class="container mt-4">
        <h2>L'actualité...</h2>
        <div class="row flex">
            {% if actualities != null and actualities|length > 0 %}
                {% for actuality in actualities  %}
                    <div class="col-md-6 mt-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ actuality.title }}</h5>
                            </div>

                            PHOTO
                            <p class="card-text">{{ actuality.content | raw}}</p>
                        </div>
                    </div>
                    

                {% endfor %}
            {% endif %}
        </div>
    </div>





{% endblock %}