{% extends 'base.html.twig' %}

{% block title %}
    Le cabinet hermès - Cabinet Hermès
{% endblock %}

{% block body %}

<!-- début header -->
<div class="jumbotron home">
    <div class="text-center">
        <h2 class="pt-4 title">CABINET HERMES</h2>
        <p class="para-title">Expert immobilier d'entreprise en Auvergne-Rhône-Alpes,
            le Cabinet Hermès vous accompagne dans l'achat et la vente de fonds de commerce ou d’investissement immobilier.
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>LA SOCIETE</h2>
            <p>
                Créé en 1980 et implanté au cœur de la métropole lyonnaise, le Cabinet Hermès est, depuis plus de 38 ans
                spécialiste des transactions immobilières en B to B. Afin d’être au plus près des préoccupations du marché,
                et d’offrir un service optimal, le Cabinet Hermès s’est enrichi de trois nouvelles agences, l’une à Grenoble,
                ouverte en 2006, et la seconde à Annecy. Ouvert en 2017, le Cabinet Hermès rachète la totalité du capital de
                l’agence d’Annecy Century 21 Action CO et garde à sa tête, son directeur Gérard Derigny. En 2018,
                le Cabinet Hermès va consolider ses implantations dans la région. Enfin, en 2019 le Cabinet Hermès rachète
                sa quatrième agence à Clermont-Ferrand.
            </p>
            <img src="https://www.cabinet-hermes.fr/wp-content/uploads/2018/01/cabinet-hermes-facade.png" alt="">
            <p>
                Fort de son ancrage historique en région Auvergne-Rhône-Alpes, le Cabinet Hermès compte aujourd’hui plus
                de 40 collaborateurs affectés chacun sur un secteur et une spécialité́. Cette équipe d’experts lui permet
                aujourd’hui de développer une offre spécifique dédiée aux investisseurs pour développer leurs actifs et
                rationaliser leur portefeuille immobilier. Spécialiste de l’achat et la vente de fonds de commerce,
                le Cabinet Hermès a conscience que les stratégies immobilières sont de plus en plus complexes, mais que
                les solutions demeurent locales. La proximité est le point fort des 4 agences du groupe.
                Les regards d’experts, à l’affut du marché et de ses opportunités, sont autant de regards tournés vers
                le monde de demain et ses possibilités.
            </p>
            <bloquote>" UNE NOUVELLE DYNAMIQUE IMPULSÉE EN 2016 "</bloquote>
            <p>
                Fort d’un maillage régional étendu et reconnu, le Cabinet Hermès prend, après 38 ans d’existence, son indépendance et de nouvelles dimensions.
            </p>
            <p>
                Le Cabinet Hèrmes est aujourd’hui reconnu comme leader dans la transaction d’immobilier professionnel et commercial.
                Il s’enrichit de nouvelles expertises, en s’entourant de spécialistes des marchés expérimentés :
                commerces (locaux commerciaux, droit au bail, boutiques etc.), fonds de commerces (bar, brasserie,
                hôtel, restaurant, tabac-presse, boulangerie, pâtisserie etc.), immobiliser investissement (loué)
                et vente PME/PMI et locaux d’activités et terrains.
            </p>
            <p>
                Le Cabinet Hermès se place comme le meilleur intermédiaire en matière de transactions immobilières : projets d’achat, de vente, de location ou d’investissement.
            </p>

            <p>Le Cabinet s'engage à : </p>
            <ul>
                <li>
                    <strong>Trouver le lieu idéal pour implanter votre projet</strong>
                </li>
                <li>
                    <strong>Saisir les meilleures opportunités d’investissement</strong>
                </li>
                <li>
                    <strong>Optimiser les coûts immobiliers</strong>
                </li>
                <li>
                    <strong>Augmenter la valeur des actifs immobiliers</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="backgroundSidebare">
                {% include 'home/partials/sidebare.html.twig' %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="jumbotron">
        <div class="text-center">
            <p class="para-title">DEPUIS PLUS DE 38 ANS, LE CABINET HERMÈS COLLABORE AVEC LES ACTEURS DU COMMERCE DE LA RÉGION AUVERGNE-RHÔNE-ALPES.
            </p>
        </div>
    </div>
    <div class="container">
        <h2>NOTRE HISTOIRE</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="https://www.cabinet-hermes.fr/wp-content/uploads/2018/01/daniel-garnier.png" alt="" style="height: 600px">
            </div>
            <div class="col-md-6">
                <p>L’histoire est avant tout celle d’un homme Daniel Garnier, qui dirige depuis 2001 l’entreprise.
                    Sensible à une vision très dynamique de l’entrepreneuriat, il a su nouer au fil des ans des
                    liens très étroits avec les principaux acteurs locaux dans les différents métiers. Aujourd’hui
                    reconnu comme leader dans la transaction de l’entreprise et du commerce, il enrichit son
                    accompagnement en s’entourant de spécialistes dans chaque marché traité.</p>
                <p>Cette empreinte historique permet au Cabinet Hermès d’être très impliqué et reconnu par les
                    acteurs du marché qui se succèdent depuis plus de 38 ans. Cette bonne connaissance des fonds de
                    commerce, des flux et des évolutions du territoire est un atout majeur dans la qualité des
                    transactions.</p>
                <p>Par ailleurs, le Cabinet Hermès a su développer son activité en enrichissant son offre de prestations
                    mieux qualifiées (avec des consultants spécialistes par filière), et en déployant de nouveaux outils
                    de communication. Le digital est aujourd’hui un soutien essentiel
                    aux ressources humaines en optimisant les contacts, déployant des campagnes d’information
                    à la vente et accompagnant les recherches ciblées.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="container">
            <h2>NOTRE EQUIPE POUR VOUS CONSEILLER</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="https://www.cabinet-hermes.fr/wp-content/uploads/2017/12/cabinet_hermes_equipe.jpg" alt="" style="height: 300px">
                </div>
                <div class="col-md-6">
                    <h5>UNE PROXIMITE QUOTIDIENNE</h5>
                    <p>
                        Lyon, Grenoble, Annecy, Clermont-Ferrand, le Cabinet Hermès bénéficie d’un maillage territorial construit pour être au plus près de nos clients.
                        Ces 4 pôles nous permettent de rayonner sur l’ensemble de grande région Rhône-Alpes et ce de manière très réactive. Cette proximité se traduit
                        par une présence quotidienne sur le terrain, pour connaître parfaitement le marché, les enjeux, les perspectives d’avenir de chaque métropole.
                    </p>
                    <p>
                        La proximité est le point fort des 4 agences du groupe. Les regards d’experts, à l’affut du marché et des opportunités qu’il procure sont
                        autant de regards tournés vers le monde de demain et ses possibilités.
                    </p>
                    <h5>UN ENGAGEMENT D’EXPERTS</h5>
                    <p>L’engagement de nos équipes au plus près de chaque interlocuteur s’exprime également dans la qualité de l’accompagnement.</p>
                    <p>Le Cabinet Hermès dispose de nombreuses ressources particulièrement qualifiées : 40 consultants conseillent chaque jour
                        les professionnels dans leur décision et stratégie immobilière.</p>
                    <p>Reconnu comme leader dans la transaction liée à l’entreprise et au commerce, le Cabinet Hermès dispose de spécialistes Marchés expérimentés :
                        commerces (locaux commerciaux, boutiques…), fonds de commerces (bar, brasserie, hôtel, restaurant, tabac presse, boulangerie, pâtisserie…),
                        immobilier investissement (libre ou loué), immobilier d’entreprise (vente PME/PMI et locaux d’activités, bureaux et terrains).
                    </p>
                    <p>Spécialistes de la restauration, des normes et obligations en la matière, ainsi que de la boulangerie et plus largement des métiers de bouche,
                        les consultants du Cabinet Hermès apportent à chaque dossier un regard d’expert avec un objectif partagé : la performance de vos entreprises.
                    </p>
                    <p>Le Cabinet Hermès est un collectif de professionnels de l’immobilier commercial et d’entreprise qui, ensemble, créent une dynamique de performance
                        sur de nombreux secteurs : vente et achat de fonds de commerce,
                        locaux commerciaux, transactions immobilières pour le tertiaire, ou encore stratégie d’investissement et optimisation d’un portefeuille de biens.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}



