{% extends 'base.html.twig' %}

{% block title %}
    Les valeurs - Cabinet-hermès
{% endblock %}

{% block body %}
    <div class="jumbotron home">
        <div class="container">
            <div class="">
                <h2 class="pt-4 title">NOS VALEURS</h2>
                <p class="para-title">Expert immobilier d'entreprise en Auvergne-Rhône-Alpes,
                    le Cabinet Hermès vous accompagne dans l'achat et la vente de fonds de commerce ou d’investissement immobilier.
                </p>
            </div>
        </div>
    </div>

<section class="relationHumaine">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3><i class="fa fa-users mr-2"></i>LA RELATION HUMAINE : UNE PRIORITÉ SOUTENUE PAR DES VALEURS FORTEMENT ANCRÉES</h3>
                <p>Si les compétences métiers de nos équipes sont indispensables à nos conseils et accompagnements, les valeurs humaines défendues par le Cabinet Hermès sont essentielles
                    à la qualité que nous défendons. Nos prestations s’accompagnent d’un engagement total dans ses valeurs, incarnées et portées par chacun d’entre-nous.
                </p>
                <img src="https://www.cabinet-hermes.fr/wp-content/uploads/2018/01/Diane.png" alt="" style="height: 300px">
                <h3 class="mt-5"><i class="fa fa-star mr-2"></i>FIDELITE</h3>
                <p>Afin d’assurer le bon déroulement des différents projets, le Cabinet Hermès propose un accompagnement dédié pour faciliter les différentes étapes
                    de la transaction.Nous bénéficions de partenaires solides qui accompagnent et orientent les clients vers les meilleurs choix. Parmi eux :</p>
                <ul>
                    <li>Avocats d’affaires</li>
                    <li>Notaires</li>
                    <li>Experts comptables</li>
                    <li>Régies</li>
                    <li>Courtiers bancaires : Credit Link ( 80% de dossiers acceptés)</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="backgroundSidebare">
                    {% include 'home/partials/sidebare.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="value">
    <div class="container-fluid bg-pattern">
        <div class="row">
            <div class="container white-bg ">
                <h3 class="mt-5 mb-5"><i class="fa fa-users mr-2"></i>NOS VALEURS FONDAMENTALES</h3>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span><i class="fa fa-gratipay mt-2 mb-2" style="font-size: 35px"></i></span>
                        <h2>PASSION</h2>
                        <p>La passion pour notre métier nous anime depuis
                            plus de 38 ans et fait partie
                            de l’ADN de la société : nous
                            ous investissons totalement pour
                            éussir les projets que vous nous confiez.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span><i class="fa fa-gavel  mt-2 mb-2" style="font-size: 35px"></i></span>
                        <h2>ETHIQUE</h2>
                        <p>Nous respectons scrupuleusement  la Loi Hoguet
                            qui régit notre profession ainsi que la transparence
                            et la confidentialité nécessaires pour vos projets.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span><i class="fa fa-bolt mt-2 mb-2" style="font-size: 35px"></i></span>
                        <h2>REACTIVITE</h2>
                        <p>Chaque demande bénéficie d’un interlocuteur privilégié.
                            Il se rapproche le cas échéant d’un spécialiste parmi
                            nos consultants pour vous accompagner pleinement dans
                            votre projet professionnel.
                        </p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span><i class="fa fa-address-card mt-2 mb-2" style="font-size: 35px"></i></span>
                        <h2>PROFESSIONNALISME</h2>
                        <p>Nos 40 consultants  issus de formations spécialisées –
                            souvent anciens professionnels du métier – ont une solide
                            connaissance du marché immobilier. Ils sauront vous apporter
                            un service personnalisé de qualité.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span><i class="fa fa-user-circle mt-2 mb-2" style="font-size: 35px"></i></span>
                        <h2>INDÉPENDANCE</h2>
                        <p>Le Cabinet Hermès est un groupe régional indépendant, ce qui
                            lui permet d’assurer à ses clients le meilleur accompagnement
                            possible quelles que soient la taille du projet et son importance,
                            dans le respect du mandat confié et de sa mission.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <span><i class="fa fa-street-view mt-2 mb-2" style="font-size: 35px"></i></span>
                        <h2>PROXIMITÉ</h2>
                        <p>Le Cabinet Hermès connaît parfaitement son marché et
                            ses évolutions, nombreuses sur un territoire lyonnais
                            particulièrement dynamique. Nos agences de proximité sont
                            une preuve de notre investissement dans la région.
                            Nos équipes sont constituées d’hommes et de femmes
                            particulièrement attachés au territoire sur lequel
                            ils nous représentent.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="blanchimentArgent">
    <div class="container">
        <h2><i class="fa fa-money-check-alt mr-2"></i>LUTTE CONTRE LE BLANCHIMENT D'ARGENT</h2>
        <p>La prévention contre le blanchiment de capitaux et le financement du terrorisme nous contraignent à exiger certaines informations.
            Le Cabinet Hermès s’applique à cette obligation de vigilance tout le long de la relation d’affaires.
        </p>
        <p>En tant que clients, vous serez invités à fournir les informations et documents suivants :</p>
        <ul>
            <li>
                Pour une personne physique
                <ul>
                    <li>copie d’une pièce d’identité en cours de validité, comportant photo et signature ;</li>
                    <li>justificatif récent de domicile ;</li>
                    <li>informations sur votre profession ;</li>
                    <li>informations sur vos revenus et votre patrimoine (avis d’imposition).</li>
                </ul>
            </li>
            <li>
                Pour une personne morale
                <ul>
                    <li>extrait K bis de moins de 3 mois ;</li>
                    <li>statuts à jour ;</li>
                    <li>comptes certifiés du dernier exercice clos ;</li>
                    <li>liste récente des actionnaires / associés personnes
                        physiques détenant plus de 25 % des parts ou actions de la société et copie de leur pièce d’identité ;
                    </li>
                    <li>copie de la pièce d’identité du représentant légal ou statutaire ;</li>
                    <li>justificatif récent de domicile des personnes physiques détenant plus de 25 % des parts ou actions de société.</li>
                </ul>
            </li>
        </ul>
    </div>
</section>


{% endblock %}



