<div class="container text-center">
    <p>
        Bienvenu sur le site de l'agence immobilière <br>
        Voici votre identifiant : <b>{{ user.username }}</b>
    </p>
    <br>
    <p>
        et surtout on vous souhaite une très bonne annnée 2020
    </p>
    <br>
    <div>
        <img src="https://media.giphy.com/media/gEwvK6CHIOCvTCsAvW/giphy.gif" alt="gif">
    </div>

</div>
